{% extends 'home.html' %}
{% block body %}
    <body class="hold-transition layout-top-nav">
        <div class="wrapper">
            <!-- Header -->
               {% include 'header.html' %}
            <!-- Content -->
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                {% block nombre %}  

                                {% endblock %}

                                
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="{% url "home"%}">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Layout</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="container">

                        <div class="container-fluid">
	                        {% block content %}

                            {% endblock %}
                        </div>
                        {% block estado %}  

                        {% endblock %}
                    </div>
                </div>
            </div>
            <!-- Footer -->
            {% include 'footer.html' %}
        </div>
        <!-- Block javascript -->
        {% block javascript %}

        {% endblock %}

    </body>
{% endblock %}