{% extends 'body.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/DataTables/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/DataTables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/DataTables/Responsive-2.2.5/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/DataTables/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'lib/DataTables/DataTables-1.10.21/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/DataTables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/DataTables/Responsive-2.2.5/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/DataTables/Responsive-2.2.5/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
            
               {% block icon %}

                {% endblock%}
                
                {{ title }} 

                 {% block add_cliente %}

                {% endblock%}

                {% block add_orden %}
                
                {% endblock%}
            </h3>
        </div>

        <div class="card-body">
            <table class="table" id="data">
                <thead>
                {% block columns %}

                {% endblock %}
                </thead>
                <tbody>
                {% block rows %}

                {% endblock %}
                </tbody>
            </table>
        </div>
            {% block agregar %}

            {% endblock %}

    </div>
{% endblock %}


            {% block estado %}

            {% endblock %}

{% block javascript %}

    <script type="application/javascript">
        $(function () {
            $('#data').DataTable({
                responsive: true,
                autoWidth: false,
                order: [[ 3, "desc" ]]
                
            });
        });

        
    </script>

    
{% endblock %}