<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class=" card text-center card text-white mb-3" id="recibidos">
			  	<div class="card-header">Recibidos</div>
			  	<div class="card-body">
			    	<h3 class="card-text">{{recibido}}</h3>
			  	</div>
			</div>
		</div>
	</div>

    <div class="col">
		<div class="col-md">
            <div class=" card text-center card text-white mb-3" id="reparacion">
                <div class="card-header">En reparación</div>
                <div class="card-body">
                    <h3 class="card-text">{{total_ordenes}}</h3>
                </div>
            </div>
	    </div>
    </div>


	<div class="col">
		<div class="col-md">
			<div class="card text-center card text-white mb-3" id="reparados">
			  	<div class="card-header">Reparados</div>
			  	<div class="card-body">
			    	<h3 class="card-text">{{reparado}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>









