{% extends 'layouts/layout.html' %}



{% block title %} {{title}} {% endblock %}




{% block content %}
   <h1>{{title}}</h1>
   

  <form method="post" action="">
      {% csrf_token %}


         {% comment  %}
            {{register_form.as_p}}
         {% endcomment %}

          {% comment  %}
           campo por campo
           
         {{register_form.username.label}}
         {{register_form.username}}
         {% endcomment %}

        {% for field in register_form %}
            <label>{{field.label}}</label>
            {{field}}
        {% endfor %}


       <input type="submit" value="Registrarse"/>

    </form>


{% endblock %}